Repository MasterKale/SimpleWebAuthn, pull requests merged in 2020-10, with the labels that each got.

#59 feature/attestation-apple
  packages/server/src/attestation/verifications/verifyApple.test.ts
  packages/server/src/attestation/verifications/verifyApple.ts
  packages/server/src/attestation/verifyAttestationResponse.ts
  packages/server/src/helpers/decodeAttestationObject.ts
Labels: enhancement, package:server

#58 feature/improve-browser-credential-selection
  packages/browser/src/methods/startAttestation.ts
  packages/server/src/assertion/generateAssertionOptions.test.ts
  packages/server/src/assertion/generateAssertionOptions.ts
  packages/server/src/attestation/generateAttestationOptions.test.ts
  packages/server/src/attestation/generateAttestationOptions.ts
  packages/typescript-types/src/index.ts
Labels: enhancement, package:browser, package:server

#65 feature/assertion-rp-id
  packages/server/src/assertion/generateAssertionOptions.test.ts
  packages/server/src/assertion/generateAssertionOptions.ts
Labels: package:server

#66 chore: Switch to typedoc@beta for documentation generation
  package-lock.json
  package.json
  packages/browser/src/index.ts
  packages/server/src/index.ts
  packages/typescript-types/src/index.ts
  tsconfigdoc.json
  typedoc-plugin-external-module-name/getRawComment.js
  typedoc-plugin-external-module-name/index.js
  typedoc-plugin-external-module-name/typedoc-plugin-external-module-name.js
  typedoc-plugin-external-module-name/typedocVersionCompatibility.js
Labels: documentation
